Improve discovery of datacatalogs by registering well-known suffix 'datacatalog'

[RFC 5785](https://tools.ietf.org/html/rfc5785) defines a mechanism for reserving 'well-known' URIs on any Web server. By registering the 'datacatalog' suffix and promoting its use, the discovery of datacatalogs can be improved. 

Although this proposal is not **schema.org/DataCatalog** specific (eg. DCAT would also benefit), [we](https://github.com/netwerk-digitaal-erfgoed/) do seek support of the schema.org community for this proposal (as well as the DCAT community, therefor a similar issue has been posted at https://github.com/w3c/dxwg/issues/1290).

We have drafted a text which could be included in a specification document (this is highly inspired by https://www.w3.org/TR/void/#well-known):

> **Discovery with well-known URI**
>
> The [RFC 5785](https://tools.ietf.org/html/rfc5785) defines a mechanism for reserving 'well-known' URIs on any Web server. 
>  
> The URI /.well-known/datacatalog on any Web server is registered by this specification for a datacatalog with dataset descriptions of datasets hosted on that server.  For example, on the host www.example.com, this URI would be http://www.example.com/.well-known/datacatalog.
>  
> This URI may be an HTTP redirect to the location of the actual datacatalog file. The most appropriate HTTP redirect code is 302. Clients accessing this well-known URI MUST handle HTTP redirects.
>  
> The datacatalog file accessible via the well-known URI should contain descriptions of all datasets hosted on the server. This includes any datasets that have resolvable URIs, a SPARQL endpoint, a data dump, or any other access mechanism whose URI is on the server's hostname. Datacatalogs can be described using [http://www.w3.org/ns/dcat#Catalog](http://www.w3.org/ns/dcat#Catalog) or [https://schema.org/DataCatalog](https://schema.org/DataCatalog).

Broad support for this proposal will help in getting the 'datacatalog' suffix registered. The registration procedure and template from Section 5.1 of [RFC 5785](https://tools.ietf.org/html/rfc5785) requires a change controller and specification document. Can this community assist in this process?


@rvguha and I have been discussing some ideas for schema.org-based feeds that are related to this (rather than "datasets" specifically). I'll post a proper proposal in due course but here are some indicative notes. My sense was that ".well-known/" can work for many sites, but others don't have access to those publication paths and will need to make comparable declarations in markup.

It would be good if others with related usecases (especially if planning to consume/use the data) could share related thoughts here too.

Draft notes follow....

# Well Known URLs

Two (as yet unregistered) Well Known URLs can be used for site-wide discovery of (schema.org and other) feed URLs, at the domain name level:

See Wikipedia for an explanation of the /.well-known/ URL path standard. In brief:

It is increasingly common for Web-based protocols to require the discovery of policy or other information about a host ("site-wide metadata") before making a request. RFC8615 defines a path prefix in HTTP(S) URIs for these "well-known locations", "/.well-known/".



# /.well-known/feeddata-general

This gives a site's default representation in structured data formats, typically but not necessarily in JSON-LD format using Schema.org as the base vocabulary. It usually consists of all the structured data that is embedded in public pages on the site. For large data files, this URL could redirect to feeddata-toc, which would describe the set of component files making up the feed.

# /.well-known/feeddata-toc

This gives a table of contents for a site, typically but not necessarily expressed in Schema.org, with pointers to structured data feeds of various kinds RSS, Atom and other feeds e.g. sitemaps, including different subsets of the larger site, summaries of non-public data feeds. It serves as a machine-readable entry point.

The use of site-wide ".well-known" URLs is not always the most appropriate discovery mechanism. For situations where many independent sites share a common domain name, Schema.org itself (embedded in subsection homepages) can be used to discover the above site descriptions. This could be included alongside other site-level metadata, e.g. the "WebSite" description published for a sitelinks-searchbox.

Two (as yet tentative) schema.org properties can be used with WebSite to point to DataFeed URLs:

* schema.org/generalFeedLink
 Definition (of a WebSite): "URL of a feed (e.g. expressed as schema.org/DataFeed) for a site that gives its default representation in Schema.org-based formats (typically JSON-LD). Usually consists of all the structured data from public pages on the site."
schema.org/feedDataContentsListLink
* Definition (of a Website): "URL of a machine readable feed for a site (typically using Schema.org/DataFeed) that gives a table of content for a site  expressed in Schema.org, i.e. descriptions of all the various data feeds on the site, regardless of whether they are in classic/legacy formats (e.g. sitemaps XML; RSS; Atom…) or in Schema.org-oriented formats.

# Validation and Shapes

There is also the question of how to characterize the contents of feeds - e.g. products vs events vs podcasts vs whatever.

Here is a sketch for integrating shape languages (e.g. shacl, shex):

```
{ 
  "@context": "https://schema.org/",
  "@type": "DataFeed",
  "conformsTo":   "https://gist.githubusercontent.com/danbri/f74c99de6fc04b33c5b6519940889fef/raw/b432f0f65ea39d5c01d2bc9c0dda9108a8feb314/example-google-recipe-shex#GoogleRecipeStrict",
"somethingsomething": "shex",
  "url": "http://recipes4u.example.com/feeds/recipes/1"
}
```


Your proposal is more general, which is good I think. As such it helps in the discovery of data, including data catalogs (and data sets) which is our usecase. ✔

If I understand your proposal correctly, a machine which wants to discover the machine-readable data of a website checks /.well-known/feeddata-general which returns or redirects to available data. As the data can explode, a index-layer is available in the form of a toc. This toc consists of pointers to different kinds of data feeds, like newsfeeds RSS and schema.org/Datacatalog RDF.

I do wonder how you envision the characterization of data feeds. Is this included in the toc, or does the machine need to GET/HEAD each item in toc to get a data type (and/or mimeType, encodingFormat)?

For our Datacatalog usecase we are looking into schema.org and DCAT. If I read your proposal, I think there's room for non-schema.org vocabularies :-) ?

One feature of DCAT which I like, is that a data catalog can contain data catalogs (and datasets of course). This "recursion" is not yet possible in schema.org/Datacatalog (which can only contain datasets). So in a feeddata-toc I could reference one DCAT data catalog which references multiple data catalogs, and the same would mean multiple schema.org/Datacatalogs references in the feeddata-toc.

